.home-container {
  min-height: 100vh;
  background: #F8F7FF;
}

.banner-container {
  position: relative;
}

.moving-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.moving-container h1 {
  margin-bottom: 15px;
}

.moving-container p {
  font-weight: 600;
}

.genres-main {
  padding: 50px 0;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
}

.genre-section {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 39%;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  background: #fff;
  margin-bottom: 25px;
}

.genre-section:nth-child(odd) {
  margin-right: 15.5%;
}

.genre-right {
  display: flex;
  align-items: center;
}

.genre-logo,
.prev-arrow {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.genre-right span {
  color: #000;
  font-weight: 600;
}

.main-container {
  padding-top: 100px;
}

.main-container .title {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.search-input-container {
  position: relative;
}

.search-input-container input {
  width: calc(100% - 49px);
  background-color: #F0F0F6;
  color: #A0A0A0;
  border: transparent;
  border-radius: 4px;
  padding: 13px 10px 13px 40px;
  font-size: 16px;
  font-family: 'montserratsemibold';
}

.search-input-container input:focus {
  border-color: #5E56E7;
}

.search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.cancel-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* media query for mobile devices */
@media only screen and (max-width: 768px) {
  .genre-section {
    flex-basis: 100%;
  }

  .genre-section:nth-child(odd) {
    margin-right: 0;
  }

  .banner-container .background-image {
    height: 250px;
  }

  .banner-container .background-image img {
    width: auto;
    height: 100%;
  }
}